<div class="form">
    <app-dataform (data)="calculateInvestment($event)"></app-dataform>
</div>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>investment Value</th>
                <th>interest(Year)</th>
                <th>total interest</th>
                <th>invested capital</th>
            </tr>
        </thead>
        <tbody>
            @for (invest of data; track invest) {

                <tr>
                    <td >{{invest.year}}dd</td>
                    <td>{{ invest.valueEndOfYear|currency }}</td>
                    <td>{{ invest.interest | currency }}</td>
                    <td>{{ invest.totalInterest }}</td>
                    <td>{{ invest.annualInvestment }}</td>
                </tr>
            }
            <tr>
                <td>Marcus Thornton</td>
                <td>SG</td>
                <td>6'4"</td>
                <td>05-05-1987</td>
            </tr>
            <tr>
                <td>Jason Thompson</td>
                <td>PF</td>
                <td>6'11"</td>
                <td>06-21-1986</td>
            </tr>
        </tbody>
    </table>
</div>